* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

img {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

#main {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(#79738D), color-stop(49.97%, #CB8B9F), to(#FDB68B));
  background: linear-gradient(270deg, #79738D 0%, #CB8B9F 49.97%, #FDB68B 100%); }
  #main .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.form-container {
  max-width: 400px;
  height: 530px;
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 38px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .form-container #title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 30px; }
  .form-container .fields {
    width: 100%;
    margin-bottom: 30px; }
    .form-container .fields .field {
      max-width: 300px;
      width: 100%;
      height: 40px;
      padding: 13px;
      background: #FFFFFF;
      border: none;
      border-radius: 5px;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 20px;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .form-container .fields .field::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.5); }
      .form-container .fields .field:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.5); }
      .form-container .fields .field::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.5); }
      .form-container .fields .field::placeholder {
        color: rgba(0, 0, 0, 0.5); }
      .form-container .fields .field:hover {
        background: rgba(255, 255, 255, 0.8); }
      .form-container .fields .field:focus {
        background: rgba(0, 0, 0, 0.1);
        border: 2px solid #fff;
        color: #fff; }
  .form-container #confirm-password-field {
    margin: 0; }
  .form-container .not-match {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: none;
    max-width: 300px;
    width: 85%;
    height: 30px;
    text-align: center;
    color: rgba(255, 0, 0, 0.8);
    background: none;
    border: 2px solid rgba(255, 0, 0, 0.8);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 20px; }
  .form-container .buttons {
    width: 100%; }
    .form-container .buttons .button {
      max-width: 300px;
      width: 100%;
      height: 40px;
      background: rgba(51, 51, 51, 0.75);
      border: none;
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 20px;
      cursor: pointer;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .form-container .buttons .button:hover {
        background: rgba(51, 51, 51, 0.9);
        color: rgba(255, 255, 255, 0.9); }
    .form-container .buttons .button-sign-in {
      background: none;
      border: 1px solid rgba(51, 51, 51, 0.75);
      border-radius: 5px;
      color: rgba(51, 51, 51, 0.75); }
